@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes enter-x {
  from {
    transform: translateX(100%)
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes leave-x {
  from {
    transform: translateX(0%)
  }

  to {
    transform: translateX(-100%);
  }
}


::view-transition-old(view) {
  animation: 1s linear  leave-x;
  opacity: 1;
}

::view-transition-new(view) {
  animation: 1s linear  enter-x;
  opacity: 1;
}



::view-transition-old(mountains) {
  animation: 1s linear  leave-x;
}

::view-transition-new(mountains) {
  animation: 1s linear  enter-x;
}


